
<%= image_tag "pets.svg", size: '800' %>
<%= link_to 'Adoptar','#adoptables' ,class: 'btn btn-primary' %>
<%= link_to 'Dar en adopción','#', class: 'btn btn-primary' %>

<div id="adoptables">
  
</div>
