<%= render @animal %>

<div>
  <%= link_to t('edit'), edit_animal_path(@animal), class: 'btn btn-warning' %> |
  <%= link_to t('animal.back_to_animals'), animals_path, class: 'btn btn-outline-secondary' %>

  <%= button_to t('destroy'), @animal, method: :delete, form: { data: { turbo_confirm: t('sure') } }, class: 'btn btn-danger mt-2' %>
</div>
