<div id="<%= dom_id post %>">
    <div class="card card-post">
      <%= link_to post_path(post), target: '_top', class:'text-decoration-none link-image' do %>
        <%= image_tag url_for(post.pictures.first.pic), style: 'max-width: 300px'%>
      <% end %>
    </div>
</div>



