<h1><%= t('my_posts')%></h1>

<%= turbo_frame_tag :posts, src: 'swiper/my' do %>
  <div class="d-flex justify-content-center">
    <%= image_tag "dog.gif", height: 300 %>
  </div>
<% end %>

<%= link_to t("post.new"), new_post_path %>
